<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MegaEntities" connectionString="metadata=res://*/Mega.csdl|res://*/Mega.ssdl|res://*/Mega.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=BDMEGA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>